# all.snippets - Common snippets for all file types

snippet head1 "Add a main comment header" b
  /******************************************************************************
   * $1
   ******************************************************************************/
snippet head2 "Add a main comment header" b
  # ------------------------------------------------------------------------------
  # $1
  # ------------------------------------------------------------------------------
