[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = git://github.com/ap/vim-css-color.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = git://github.com/vim-scripts/vim-flake8.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "vim/bundle/vim-lustyjuggler"]
	path = vim/bundle/vim-lustyjuggler
	url = git://github.com/vim-scripts/LustyJuggler.git
[submodule "vim/bundle/vim-python-mode"]
	path = vim/bundle/vim-python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/vim-syntastic"]
	path = vim/bundle/vim-syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-tagbar"]
	path = vim/bundle/vim-tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "vim/bundle/vim-nerdtree"]
	path = vim/bundle/vim-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-ctrlp"]
	path = vim/bundle/vim-ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-ultisnips"]
	path = vim/bundle/vim-ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-matchtag"]
	path = vim/bundle/vim-matchtag
	url = git://github.com/gregsexton/MatchTag.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-tasklist"]
	path = vim/bundle/vim-tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/bundle/vim-local-vimrc"]
	path = vim/bundle/vim-local-vimrc
	url = git://github.com/MarcWeber/vim-addon-local-vimrc.git
[submodule "vim/bundle/vim-javascript-libraries-syntax"]
	path = vim/bundle/vim-javascript-libraries-syntax
	url = git://github.com/othree/javascript-libraries-syntax.vim.git
