snippet chead "Add a main comment header" b
" ------------------------------------------------------------------------------
" $1
" ------------------------------------------------------------------------------
endsnippet
