# css.snippets - Snippets for css file types

snippet head "Add a main comment header" b
/******************************************************************************
 * $1
 ******************************************************************************/
endsnippet

# vim:ft=snippets
