# less.snippets - Snippets for less file types

snippet head "Add a main comment header" b
/******************************************************************************
 * $1
 ******************************************************************************/
endsnippet

# vim:ft=snippets
