# vim.snippets - Snippets for vim file types

snippet chead "Add a main comment header" b
" ------------------------------------------------------------------------------
" $1
" ------------------------------------------------------------------------------
endsnippet

# vim:ft=snippets
